.short img{
  width: 12px;
}

.short {
  font-size: 8pt;
  font-weight: bold;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  /* display: inline-block;
  position: relative; */
display: inline-block;
margin: 0;
}
