.body {
  font-size: 8pt;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.short img{
  width: 12px;
}

.short {
  font-weight: bold;
}

.full img{
  width: 15px;
}

.full .heading{
  font-size: 10pt;
  color: darkgrey;
  text-transform: uppercase;
}
