<div class="body">
  <div class="header">
    <h2>TRIP REPORTS</h2>
    <br>
    <button routerLink="/hikes/{{hikeId}}/new-report">Add new report</button>
  </div>
  <div class="section">
    <div *ngFor='let report of reports | async'>
      <p>{{report.userName}}</p>
      <p>{{report.description}}</p>
      <!-- <app-report-info [userName]="report.name"></app-report-info> -->
      <hr>
    </div>
  </div>

  <br>
  <!-- <button type="button" name="button" (click)="addNew()">Add</button> -->
</div>
