.search {
  float: left;
  width: 25%;
}

.search-result {
  width: 75%;
  float: right;
}

h1 {
  color: green;
  font-weight: bold;
  font-size: 18pt;
  font-family: Georgia, serif;
  padding: 10px;
  padding-bottom: 0;
  margin: 0;
}

p {
  font-size: 8pt;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
