<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div> -->
<app-header></app-header>

<h1>Hiking Guide</h1>
<p>WTA's hiking guide is the most comprehensive database of hikes in Washington, and comprises content from eight guidebooks, user submitted info, and data compiled by WTA.</p>
<div class="search">
  <app-search-hikes (search)="startSearch($event)"></app-search-hikes>
</div>

<div class="search-result">
  <app-result-list></app-result-list>
  <!-- <app-hike-info [name]="hike.name" [imgSrc]="hike.imgSrc" [location]="hike.location" [length]="hike.length" [gain]="hike.gain" [highestPoint]="hike.highestPoint" [rating]="hike.rating"></app-hike-info> -->
</div>
